[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
termcolor = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
requests = "==2.25.1"
beautifulsoup4 = "==4.9.3"
lxml = "==4.6.2"
pymongo = "==3.11.2"
sqlalchemy = "==1.3.23"
scrapy = "==2.4.1"
scikit-learn = "==0.24.0"
deprecated = "*"
ipykernel = "==5.4.2"
razdel = "*"
pymorphy2 = "*"
nltk = "*"
tqdm = "*"
statsmodels = "*"
implicit = "*"
imbalanced-learn = "==0.7.0"
matplotlib = "==3.3.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
nbconvert = "*"
rope = "*"

[requires]
python_version = "3.8"
