[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = false

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
scikit-learn = "*"
plotly = "*"
ipykernel = "*"
tensorflow = "*"
tensorflow-gpu = "*"
torch = {version="==1.10.0+cu113", index="pytorch"} 
torchvision = {version="==0.11.1+cu113", index="pytorch"} 
torchaudio = {version="==0.10.0+cu113", index="pytorch"}
tqdm = "*"
ipywidgets = "*"
termcolor = "*"
nltk = "*"
deprecated = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
nbconvert = "*"
rope = "*"

[requires]
python_version = "3.9"
