[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
ipykernel = "*"
keras = "*"
tensorflow = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
nbconvert = "*"
rope = "*"

[requires]
python_version = "3.9"
