[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
scikit-learn = "*"
plotly = "*"
tensorflow = "*"
ipykernel = "==5.5.5"
tensorflow-gpu = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
nbconvert = "*"
rope = "*"

[requires]
python_version = "3.9"
