[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
tabulate = "*"
scikit-learn = "*"
plotly = "*"
torch = "*"
torchvision = "*"
ipykernel = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
nbconvert = "*"
rope = "*"

[requires]
python_version = "3.9"
